body{
    height: 100vh;
    width: 100vh;
}
#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
aside{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    max-width: 40%;
    min-height: 100%;
    background: rgba(0, 0, 20, 0.2);
    animation: ulet 2s ease-out forwards;
}
aside h1{
    max-width: 100%;
    height: 1.5em;
    font-size: 40px;
    background: -webkit-linear-gradient(right,rgba(227, 240, 54, 0.2),white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    animation: prelet 2s ease-in-out forwards;
}
.formwrap{
    width: 400px;
    height: 420px;
    margin: 0;
    background: transparent;
    border-radius: 11px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    animation: fliper 2s linear forwards;
}
.formwrap h3{
    color: rgb(241, 237, 237);
    font-size: 40px;
    padding: 0;
    margin: 5px auto;
    font-family: Helvetica, sans-serif;
}
.formwrap input:not([type="submit"]){
    width: 300px;
    height: 30px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: white;
}
.formwrap ::placeholder{
    text-align: center;
    text-transform: capitalize;
}
.formwrap input[type="checkbox"]{
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 5px;
}
.formwrap label{
    padding: 5px;
    text-transform: capitalize;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formwrap input[type="submit"]{
    width: 100px;
    height: 25px;
    color: yellowgreen;
    background: transparent;
    border: 1px solid yellowgreen;
    box-shadow: goldenrod 2px 2px 6px;
}
.formwrap a{
    width: 300px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}
.formwrap p{
    margin: 5px auto;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.toGoogle{
    background-color: #db4a39;
    text-transform: capitalize;
    text-align: center;
}
.toFejs{
    background-color: #3b5998;
    text-transform: capitalize;
    text-align: center;
}
@keyframes ulet{
    0%{
        transform: translateX(700px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes prelet{
    0%{
        transform: translateX(700px);
        background: linear-gradient();
    }
    100%{
        transform: translateX(-130px);
    }
}
@keyframes fliper{
    0%{
        transform: rotateY(90deg);
        background: white;
    }
    20%{
        transform: rotateY(70deg);
    }
    40%{
        transform: rotateY(50deg);
    
    }
    60%{
        transform: rotateY(30deg);

    }
    80%{
        transform: rotateY(20deg);

    }
    100%{
        transform: rotateY(0deg);
        background: none;
    }
}
#left{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 30%;
    min-height: 100%;
    border-right: 5px solid white;
    background-color: rgba(246,233,214,.2);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    transform: translateX(-300px);
    transition: all 2s cubic-bezier(.2,.4,.4,1);
}
#left:hover{
    transform: translateX(0px);
}
#left h1{
    color: white;
    font-size: 26px;
    font-family: Verdana, sans-serif;
}
#left p{
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.regForm{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid royalblue; */
}
.regForm input{
    width: 90%;
    height: 30px;
    border-color: #333;
    outline: none;
}
.name{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 15px auto;
}
.name input{
    width: 35%;
    height: 30px;
}
.regForm ::placeholder{
    text-align: left;
}
.regCheck input{
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 5px;
}
.labelReg{
    padding: 5px;
    text-transform: capitalize;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 10px;
}
.labelReg a{
    color: green;
}
.regForm input[type="submit"]{
    width: 55%;
    margin-top: 20px;
    border-radius: 6px;
    font-family:  Arial, sans-serif;
    font-size: 18px;
}
.regForm input[type="submit"]:hover{
    background-color: #c9c9bb;
}